.gitattributes text eol=lf
*.sh text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
tool/ios_aot/patches/*.patch text eol=lf whitespace=-blank-at-eol
packages/xcross/lib/src/flutter/build/resources/assetkit_patch.dart text eol=lf whitespace=-blank-at-eol
